h1 {
    font-size: 12vh;
    position: relative;
    bottom: 9vh;
    left: auto;
    text-align: center;
    font-weight: 100;
    font-family: robus;
}
h2 {
    font-family: robus;
    font-size: 7vh;
    font-weight: 100;
    position: relative;
    left: auto;
    bottom: 14vh;
    text-align: center;
}
h3 {
    display: inline;
    margin: 6vw;
    font-size: 7vh;
    text-align: center;
    position: relative;
    top: 0vh;
    left: 10vw;
    font-family: "Courier New", Courier, monospace;
}
.title_character {
    display: inline;
    width: 20vw;
    height: auto;
    position: relative;
    bottom: 10vh;
    opacity: 1;
}

#lisa {
    position: relative;
    left: 29vw;
}
#background {
    width: 50vw;
    height: 90vh;
    position: relative;
    left: 25vw;
    bottom: 15vh;
}
#mainDiv {
    position: relative;
    bottom: 167vh;
    background-color: gray;
    height: 100vh;
    opacity: 0.9;
}
#john {
    position: relative;
    left: 10vw;
    opacity: 1;
}
#game_title {
    position: relative;
    top: -3vh;
}
.house1 {
    position: relative;
    height: 30vh;
    width: auto;
}
.house2 {
    position: relative;
    height: 40vh;
    width: auto;
}
#firstHouse {
    bottom: 12vh;
    right: 8vw;
}
#secondHouse {
    right: 24vw;
    bottom: 35vh;
}
#thirdHouse {
    bottom: 55vh;
    left: 54vh;
}
#fourthHouse {
    bottom: 50vh;
    left: 45vw;
}
#fifthHouse {
    bottom: 75vh;
    left: 30vw;
}
#sixthHouse {
    bottom: 105vh;
    left: 13vw;
}
