h1 {
    font-size: 12vh;
    position: relative;
    bottom: 9vh;
    left: auto;
    text-align: center;
    font-weight: 100;
    font-family: robus;
}
h2 {
    font-family: robus;
    font-size: 7vh;
    font-weight: 100;
    position: relative;
    left: auto;
    bottom: 14vh;
    text-align: center;
}
h3 {
    display: inline;
    margin: 6vw;
    font-size: 7vh;
    text-align: center;
    position: relative;
    top: 0vh;
    left: 10vw;
    font-family: "Courier New", Courier, monospace;
}
.title_character {
    display: inline;
    width: 20vw;
    height: auto;
    position: relative;
    bottom: 10vh;
}
#john {
    position: relative;
    left: 10vw;
}
#lisa {
    position: relative;
    left: 15vw;
}
